extends templates/layout

block title
  title Colaboradores - São Lucas

block main
  section.colaboradores.container
    h1 Colaboradores
    
    h2 São Lucas 

    ul
      for employee in sa_staff
        li
          p #{employee.name}
          p #{employee.job}

    h2 Residência Terapêutica 

    ul
      for employee in rt_staff
        li
          p #{employee.name}
          p #{employee.job}

    h2 Equoterapia

    ul
      for employee in eq_staff
        li
          p #{employee.name}
          p #{employee.job}


