extends templates/layout

block title
  title Colaboradores - São Lucas

block main
  
  div.staff-container
    h1 Colaboradores
    
    h2 São Lucas 

    ul.team
      for employee in sa_staff
        li.team-member
          h4.name-staff #{employee.name}
          span.job-staff #{employee.job}


    h2 Residência Terapêutica 

    ul.team
      for employee in rt_staff
        li.team-member
          h4.name-staff #{employee.name}
          span.job-staff #{employee.job}
          
  
    h2 Equoterapia

    ul.team
      for employee in eq_staff
        li.team-member
          h4.name-staff #{employee.name}
          span.job-staff #{employee.job}


