extends ../templates/layout

block title
  title Editar Colaborador

block main
  section.staff-container 
    h1 Editar colaborador

    p Preencha os campos abaixo para editar um colaborador:

    form(
      action="colaboradores/editar/" + #{staffMember.id} 
      method="post" 
      enctype="multipart/form-data"
    )
      label(for="name") Nome
      input(type="text" name="name" value="#{staffMember.name}")

      label(for="job") Cargo
      input(type="text" name="job", value="#{staffMember.job}")
      
      label(for="resume") Currículo
      input(type="file" name="resume")

      input(type="submit" value="Enviar")
